/* .navLink {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}
.navLink:hover {
  position: relative;
  color: var(--accent-400);
}
.active {
  font-style: italic;
  font-weight: bold;
  color: var(--accent-400);
  position: relative;
}
.navLink:not(.active):hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background: currentColor;
} */

.navLink {
  font-size: 1.125rem;
  text-decoration: none;
  color: inherit;
}
.active {
  color: var(--accent-400);
}
.navLink:not(.active):hover {
  color: var(--accent-600);
}
