.project {
  --card-br: 12px;
  height: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 4px 10px hsl(0 0% 0% / 0.1); */
  box-shadow: var(--shadow-elevation-medium);
}

.imageWrapper {
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  border-radius: var(--card-br) var(--card-br) 0 0;
}

.imageWrapper img {
  object-fit: cover;
}

.title {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  color: var(--color-text-muted);
}

.techList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin-top: 0.5rem;
}

.techItem {
  font-size: 0.875rem;
  background: var(--gray-700);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  color: var(--gray-100);
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-md);
}
