.headingLink {
  text-decoration: none;
  color: inherit;
  font-size: 1.375rem;
  font-weight: 700;
}

.headingLink:hover {
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  text-decoration-color: var(--accent-600);
}

.description {
  margin-block: 16px;
}

.readMoreLink {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 1.125rem;
  font-weight: 500;
}

.readMoreLink:hover .icon {
  transform: translateX(6px);
}

.icon {
  transition: transform 150ms ease-in-out;
}
