.narrowContainer {
  width: min(100%, 72ch);
  margin-inline: auto;
}

.metaNav {
  color: var(--color-text-muted);
  margin-bottom: 1rem;
}

.backLink {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding-block: 8px;
  font-weight: 400;
}

.backLink svg {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  width: 1em;
  height: 1em;
  stroke-width: 2;
  transition: transform 0.3s cubic-bezier(0.49, 0.54, 0.39, 0.98);
}

.backLink:hover svg {
  transform: translateX(-6px);
}

.content {
  font-size: 1.125rem;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  margin-top: 1.75em;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

.content p {
  margin-bottom: 1.5em;
}

@media (width >= calc(1034 / 16 * 1rem)) {
  .metaNav {
    transform: translateX(calc((1em + 8px) * -1));
  }
}
