.wrapper {
  font-size: 1.125rem;
  border-bottom: 1px solid hsl(0deg 0% 85%);
  height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  background-color: hsl(0deg 0% 100% / 0.7);
  backdrop-filter: blur(12px) saturate(1.2);
}
.headerHidden {
  transform: translateY(-100%);
}
.headerVisible {
  transform: translateY(0);
}
.headerScrolled {
  box-shadow: 0 4px 8px hsl(0 0% 0% / 0.1);
  backdrop-filter: blur(12px) saturate(1.2);
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
  padding-inline: var(--viewport-padding);
  max-width: var(--content-width);
  margin: 0 auto;
}
.desktopNav {
  display: none;
  gap: clamp(1rem, 9vw - 4.5rem, 3.5rem);
}
.menuButton {
  padding: 12px;
  margin: -12px;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
  }
  .mobileActions {
    display: none;
  }
}
