.section {
  padding-top: calc(4rem + var(--header-height));
  padding-bottom: 2rem;
}

@media (width >= calc(768 / 16 * 1rem)) {
  .section {
    padding-top: calc(4rem + var(--header-height));
  }
}
