.section {
  padding-top: calc(var(--space-lg) + var(--header-height));
  padding-bottom: var(--space-md);
}

@media (min-width: 768px) {
  .section {
    padding-top: calc(var(--space-xl) + var(--header-height));
  }
}
