.wrapper {
  /* background: hsl(0deg 0% 98%); */
  background-color: hsl(0deg 0% 100% / 0.7);
  border-top: 1px solid hsl(0deg 0% 85%);
  color: var(--color-text-muted);
  font-size: 0.9375rem;
  margin-top: 64px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: var(--viewport-padding);
  max-width: var(--content-width);
  margin: 0 auto;
}
.brand {
  font-weight: 600;
}
.nav {
  display: none;
  gap: clamp(1rem, 9vw - 4.5rem, 3.5rem);
}
.nav a {
  color: inherit;
  text-decoration: none;
}
.nav a:hover {
  color: var(--accent-600);
}
.social {
  display: flex;
  gap: 1rem;
}
.social a {
  padding: 8px;
  margin-top: -8px;
  margin-bottom: -8px;
  border-radius: 4px;
  color: inherit;
}
.social a:hover {
  color: var(--accent-600);
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}
