.wrapper {
  margin-inline: calc(var(--viewport-padding) * -1) !important;
  margin-bottom: 2rem !important;
  /* border: 1px solid transparent; */
  overflow: hidden;

  /* Temporary!! */
  border-radius: 8px !important;
}
.wrapper pre {
  padding: var(--viewport-padding) !important;
  overflow-x: auto;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  /* word-break: break-word; */
  font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.125rem) !important;
}
.wrapper code {
  font-family: var(--font-family-mono);
}
.wrapper code > div {
  /* font-size: clamp(0.875rem, 2vw + 0.5rem, 1.125rem); */
  /* font-size: clamp(0.75rem, 1vw + 0.5rem, 1.135rem); */
  padding: 0 !important;
}

/* Commenting this out because of blog layout. Need to rethink */
/* @media (width >= calc(1024 / 16 * 1rem)) {
  .wrapper {
    border-radius: 8px !important;
  }
} */
