.wrapper {
  margin-top: 64px;
  /* border-top: 1px solid var(--gray-200); */
  padding-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.next {
  --card-br: 8px;
  --card-image-dir: row;
  --card-content-margin-top: 0;
  --card-content-margin-bottom: 0;

  max-width: 500px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.topRow {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1rem;
  color: var(--accent-600);
}

.next:hover {
  /* box-shadow: 0 6px 18px hsl(0 0% 0% / 0.08); */
  transform: translateY(-2px);
  /* box-shadow: 0 4px 10px hsl(0 0% 0% / 0.1); */
  box-shadow: var(--shadow-elevation-medium);
}

.next:hover .icon {
  transform: translateX(6px);
}

.next:hover .image {
  filter: brightness(100%);
}

.imageWrapper {
  display: none;
  position: relative;
  min-width: 110px;
  aspect-ratio: 1 / 1;
  border-radius: var(--card-br) 0 0 var(--card-br);
  overflow: hidden;
}

.image {
  object-fit: cover;
  filter: brightness(95%);
  will-change: filter;
  transition: filter 0.3s;
}

.fade {
  position: absolute;
  inset: 0;
  /*
    https://larsenwork.com/easing-gradients/#editor
    transparent to gray-100
  */
  background: linear-gradient(
    to right,
    hsla(225, 20%, 96.08%, 0) 0%,
    hsla(225, 20%, 96.08%, 0.013) 8.1%,
    hsla(225, 20%, 96.08%, 0.049) 15.5%,
    hsla(225, 20%, 96.08%, 0.104) 22.5%,
    hsla(225, 20%, 96.08%, 0.175) 29%,
    hsla(225, 20%, 96.08%, 0.259) 35.3%,
    hsla(225, 20%, 96.08%, 0.352) 41.2%,
    hsla(225, 20%, 96.08%, 0.45) 47.1%,
    hsla(225, 20%, 96.08%, 0.55) 52.9%,
    hsla(225, 20%, 96.08%, 0.648) 58.8%,
    hsla(225, 20%, 96.08%, 0.741) 64.7%,
    hsla(225, 20%, 96.08%, 0.825) 71%,
    hsla(225, 20%, 96.08%, 0.896) 77.5%,
    hsla(225, 20%, 96.08%, 0.951) 84.5%,
    hsla(225, 20%, 96.08%, 0.987) 91.9%,
    hsl(225, 20%, 96.08%) 100%
  );
}

.icon {
  transition: transform 0.3s cubic-bezier(0.49, 0.54, 0.39, 0.98);
}

.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 1rem;
}

@media (width >= calc(544 / 16 * 1rem)) {
  .imageWrapper {
    display: revert;
  }
}
