/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* THEME VARIABLES */
html {
  /* Spacing */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  --content-width: 1024px; /* 64rem */
  --outer-content-width: 1280px; /* 80rem */
  --trimmed-content-width: calc(
    var(--content-width) - (var(--viewport-padding) * 2)
  );
  --viewport-padding: 16px;
  --header-height: 64px;

  /* Breakpoints - for reference only */
  /*
    544px  / 34rem - Mobile
    ...576px  / 36rem (maybe)
    ...640px  / 40rem (maybe)
    768px; / 48rem - Laptop and higher
    1024px / 60rem - Desktop
  */

  /* Core hues */
  --hue-accent: 200deg;
  --hue-gray: 220deg;

  /* Grays */
  --gray-50: hsl(var(--hue-gray) 20% 97%);
  --gray-100: hsl(var(--hue-gray) 20% 95%);
  --gray-200: hsl(var(--hue-gray) 15% 85%);
  --gray-300: hsl(var(--hue-gray) 12% 70%);
  --gray-500: hsl(var(--hue-gray) 10% 50%);
  --gray-700: hsl(var(--hue-gray) 10% 35%);
  --gray-900: hsl(var(--hue-gray) 15% 15%);

  /* Accent */
  --accent-50: hsl(var(--hue-accent) 50% 90%);
  --accent-400: hsl(var(--hue-accent) 90% 45%);
  --accent-500: hsl(var(--hue-accent) 95% 40%);
  --accent-600: hsl(var(--hue-accent) 100% 35%);

  /* Surfaces */
  --color-bg: var(--gray-100);
  --color-bg-muted: var(--gray-100);
  --color-surface: var(--gray-50);
  --color-border: var(--gray-200);
  --color-card-border: hsl(var(--hue-gray) 12% 70% / 0.3);
  --color-backdrop: hsl(var(--hue-gray) 10% 35% / 0.8);

  /* Text */
  --color-text: var(--gray-900);
  --color-text-muted: var(--gray-700);
  --color-text-inverse: white;

  /* Shadows / Elevations */
  --shadow-color: 229deg 5% 50%;

  --shadow-elevation-low: 0.3px 0.5px 0.5px
      hsl(var(--shadow-color) / 0.58),
    0.4px 0.7px 0.7px -2.1px hsl(var(--shadow-color) / 0.42),
    1px 2px 1.9px -4.2px hsl(var(--shadow-color) / 0.26);
  --shadow-elevation-medium: 0.3px 0.5px 0.5px
      hsl(var(--shadow-color) / 0.61),
    0.5px 1.1px 1px -1.4px hsl(var(--shadow-color) / 0.49),
    1.8px 3.6px 3.5px -2.8px hsl(var(--shadow-color) / 0.36),
    5px 10px 9.6px -4.2px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-high: 0.3px 0.5px 0.5px
      hsl(var(--shadow-color) / 0.57),
    0.7px 1.3px 1.3px -0.6px hsl(var(--shadow-color) / 0.51),
    1.4px 2.8px 2.7px -1.2px hsl(var(--shadow-color) / 0.45),
    2.9px 5.8px 5.6px -1.8px hsl(var(--shadow-color) / 0.39),
    5.5px 11.1px 10.7px -2.4px hsl(var(--shadow-color) / 0.34),
    9.8px 19.7px 19px -3px hsl(var(--shadow-color) / 0.28),
    16.2px 32.4px 31.2px -3.6px hsl(var(--shadow-color) / 0.22),
    25px 50px 48.2px -4.2px hsl(var(--shadow-color) / 0.16);
}

/* CUSTOM STYLES */
body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  /* background-image: linear-gradient(
    45deg,
    hsl(228deg 20% 95%) 0%,
    hsl(221deg 23% 94%) 18%,
    hsl(216deg 26% 94%) 26%,
    hsl(211deg 27% 93%) 33%,
    hsl(207deg 29% 92%) 39%,
    hsl(204deg 29% 91%) 44%,
    hsl(200deg 29% 90%) 50%,
    hsl(204deg 29% 91%) 56%,
    hsl(207deg 29% 92%) 61%,
    hsl(211deg 27% 93%) 67%,
    hsl(216deg 26% 94%) 74%,
    hsl(221deg 23% 94%) 82%,
    hsl(228deg 20% 95%) 100%
  ); */
  /* background: linear-gradient(
    to bottom,
    hsl(220deg 20% 96%),
    hsl(220deg 20% 94%)
  ); */
  /* background: linear-gradient(
    to right,
    hsl(220deg 20% 95%),
    hsl(220deg 20% 97%)
  ); */
  background: radial-gradient(
    circle at 50% 30%,
    hsl(220deg 20% 98%) 0%,
    hsl(220deg 20% 94%) 80%
  );
  /* background: radial-gradient(
    circle at 80% 10%,
    hsl(220 20% 97%) 0%,
    hsl(220 20% 92%) 70%
  );
  background: linear-gradient(hsl(220 20% 95%), hsl(220 20% 95%)),
    repeating-linear-gradient(
      45deg,
      #0001 0,
      #0001 1px,
      transparent 1px,
      transparent 2px
    );
  background: radial-gradient(
      circle at 30% 20%,
      hsl(200 20% 98%) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 80% 80%,
      hsl(220 25% 97%) 0%,
      transparent 70%
    ),
    hsl(220 20% 95%); */
  /* background: var(--color-bg); */
}

body > main {
  flex: 1;
}

html {
  font-family: var(--font-family), system-ui, sans-serif;

  /*
    Reserves space for the scrollbar, regardless if there is one.
    Helps avoid layout shifts
  */
  scrollbar-gutter: stable;
}
code {
  font-family: var(--font-family-mono);
}

@media (min-width: 544px) {
  html {
    --viewport-padding: 24px;
  }
}
