/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* THEME VARIABLES */
html {
  /* Spacing */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  --content-width: 1024px; /* 64rem */
  --outer-content-width: 1280px; /* 80rem */
  --trimmed-content-width: calc(
    var(--content-width) - (var(--viewport-padding) * 2)
  );
  --viewport-padding: 16px;
  --header-height: 64px;

  /* Breakpoints - for reference only */
  /*
    544px  / 34rem
    ...576px  / 36rem
    ...640px  / 40rem
    768px; / 48rem - Laptop and higher
    1024px / 60rem - Desktop
  */

  /* Core hues */
  --hue-accent: 200deg;
  --hue-gray: 220deg;

  /* Grays */
  /* --gray-100: hsl(var(--hue-gray) 20% 95%);
  --gray-200: hsl(var(--hue-gray) 15% 75%);
  --gray-400: hsl(var(--hue-gray) 5% 50%);
  --gray-700: hsl(var(--hue-gray) 10% 30%);
  --gray-900: hsl(var(--hue-gray) 15% 15%); */

  --gray-50: hsl(var(--hue-gray) 20% 97%);
  --gray-100: hsl(var(--hue-gray) 20% 95%);
  --gray-200: hsl(var(--hue-gray) 15% 85%);
  --gray-300: hsl(var(--hue-gray) 12% 70%);
  --gray-500: hsl(var(--hue-gray) 10% 50%);
  --gray-700: hsl(var(--hue-gray) 10% 35%);
  --gray-900: hsl(var(--hue-gray) 15% 15%);

  /* Accent */
  --accent-400: hsl(var(--hue-accent) 90% 45%);
  --accent-500: hsl(var(--hue-accent) 95% 40%);
  --accent-600: hsl(var(--hue-accent) 100% 35%);

  /* Surfaces */
  --color-bg: var(--gray-100);
  --color-bg-muted: var(--gray-100);
  --color-surface: var(--gray-50);
  --color-border: var(--gray-200);
  --color-card-border: hsl(var(--hue-gray) 12% 70% / 0.3);
  --color-backdrop: hsl(var(--hue-gray) 10% 35% / 0.8);

  /* Text */
  --color-text: var(--gray-900);
  --color-text-muted: var(--gray-700);
  --color-text-inverse: white;
}

/* CUSTOM STYLES */
body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  background: var(--color-bg);
}

body > main {
  flex: 1;
}

html {
  font-family: var(--font-family), system-ui, sans-serif;

  /*
    Reserves space for the scrollbar, regardless if there is one.
    Helps avoid layout shifts
  */
  scrollbar-gutter: stable;
}
code {
  font-family: var(--font-family-mono);
}

@media (min-width: 544px) {
  html {
    --viewport-padding: 24px;
  }
}
