.wrapper {
  border: none;
  margin: 0 calc(var(--viewport-padding) * -1);
  background: hsl(65deg, 50%, 85%);
  /* background: palevioletred; */
  box-shadow: 0 4px 10px hsl(0deg 0% 0% / 0.1);

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-length: 0.5s;
}
.headerButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 1rem var(--viewport-padding);
  background: transparent;
  border: none;
  cursor: pointer;
}
.headerButtonText {
  letter-spacing: -0.025em;
}
.icon {
  transition: transform var(--transition-length)
    var(--transition-timing);
}
.iconOpen {
  transform: rotate(90deg);
}

.animationWrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--transition-length)
    var(--transition-timing);
}
.open .animationWrapper {
  grid-template-rows: 1fr;
}
.animation {
  min-height: 0;
}
.transformWrapper {
  /* transform: translateY(-100%);
  visibility: hidden;
  transition: transform var(--transition-length)
      var(--transition-timing),
    visibility var(--transition-length) var(--transition-timing); */
}
.open .transformWrapper {
  /* transform: translateY(0);
  visibility: visible;
  transition: transform var(--transition-length)
      var(--transition-timing),
    visibility 0s linear; */
}
/* Margins inside the container will throw animation height calculations off, better use paddings */
.content * {
  margin: 0;
}
.content > *:first-child {
  margin-top: 0;
}
.content {
  border-top: 1px solid var(--gray-200);
  padding-block: 2rem;
  padding-inline: var(--viewport-padding);
}

@media (min-width: 1024px) {
  .wrapper {
    border-radius: 8px;
  }
}

/*
  When there is 100px worth of space outside content (1024px),
  then use that for more buffer.
*/
@media (min-width: 1124px) {
  .wrapper {
    /*
    Used Fluid Calculator to approximate best values -
    https://utopia.fyi/clamp/calculator?a=1024,1240 - 
    of course, could do this outside of media query
    */
    --buffer: clamp(24px, 14vw - 7.5rem, 48px);
    --buffer: clamp(1.5rem, -8.0714rem + 14.2857vw, 3rem);
    margin-inline: calc(var(--buffer) * -1);
  }
  .headerButton {
    padding-inline: calc(var(--buffer));
  }
  .content {
    padding-inline: calc(var(--buffer));
  }
}

@media (prefers-reduced-motion: reduce) {
  .icon,
  .animationWrapper,
  .transformWrapper {
    transition: none !important;
  }

  .animationWrapper {
    grid-template-rows: auto !important;
  }

  .transformWrapper {
    transform: none !important;
    visibility: visible !important;
  }
}
