.wrapper {
  border: none;
  margin: 4rem calc(var(--viewport-padding) * -1);
  background: hsl(65deg, 50%, 85%);
  box-shadow: 0 4px 10px hsl(0deg 0% 0% / 0.1);

  --ease-out: cubic-bezier(0.2, 0.5, 0.25, 1);
}
.headerButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 1.25rem var(--viewport-padding);
  background: transparent;
  border: none;
  cursor: pointer;
}
.icon {
  transition: transform 0.5s var(--ease-out);
}
.iconOpen {
  transform: rotate(90deg);
}
.contentWrapper {
  overflow: hidden;
  /* transition: max-height 0.5s var(--ease-out); */
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s var(--ease-out);
}
.open .contentWrapper {
  grid-template-rows: 1fr;
}
.content {
  min-height: 0; /* Needed for grid overflow rules */
  border-top: 1px solid var(--gray-200);
  padding: 0 var(--viewport-padding);
}

@media (min-width: 928px) {
  .wrapper {
    border-radius: 8px;
  }
}

@media (min-width: 980px) {
  .wrapper {
    --buffer: 50px;
    border-radius: 8px;
    margin-inline: calc(var(--buffer) * -1);
  }
  .headerButton {
    padding-inline: calc(var(--buffer));
  }
  .content {
    padding-inline: calc(var(--buffer));
  }
}
