.wrapper {
  border: none;
  margin: 0 calc(var(--viewport-padding) * -1);
  background: hsl(65deg, 50%, 85%);
  /* background: palevioletred; */
  box-shadow: 0 4px 10px hsl(0deg 0% 0% / 0.1);

  --transition-timing: cubic-bezier(0.2, 0.5, 0.25, 1);
  --transition-length: 0.5s;
}
.headerButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 1.25rem var(--viewport-padding);
  background: transparent;
  border: none;
  cursor: pointer;
}
.icon {
  transition: transform var(--transition-length)
    var(--transition-timing);
}
.iconOpen {
  transform: rotate(90deg);
}

.animationWrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--transition-length)
    var(--transition-timing);
}
.open .animationWrapper {
  grid-template-rows: 1fr;
}
.animation {
  min-height: 0;
}
.transformWrapper {
  transform: translateY(-100%);
  visibility: hidden;
  transition: transform var(--transition-length)
      var(--transition-timing),
    visibility var(--transition-length) var(--transition-timing);
}
.open .transformWrapper {
  transform: translateY(0);
  visibility: visible;
  transition: transform var(--transition-length)
      var(--transition-timing),
    visibility 0s linear;
}
/* Margins inside the container will throw animation height calculations off, better use paddings */
.content * {
  margin: 0;
}
.content {
  border-top: 1px solid var(--gray-200);
  padding-block: 2rem;
}

@media (min-width: 1024px) {
  .wrapper {
    border-radius: 8px;
  }
}

@media (min-width: 1080px) {
  .wrapper {
    --buffer: 50px;
    border-radius: 8px;
    margin-inline: calc(var(--buffer) * -1);
  }
  .headerButton {
    padding-inline: calc(var(--buffer));
  }
  .content {
    padding-inline: calc(var(--buffer));
  }
}
